@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.layout{
    background:linear-gradient(#87ceeb, #e0f6ff);
    margin: auto;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    border-bottom: solid 10px green;

}
.mario{
    width: 120px;
    height: 120px;
   bottom: 0;
    position: absolute;
}
.nuvens{
    top: 50px;
    width: 500px;
   animation: nuvens_animation 15s infinite linear;
    position: absolute;
}
.container-pontuação{
display: flex;
margin-top: 100px;
position: absolute;
left: 30px;
background-color: rgba(0, 0, 0, 0.589);
width: 170px;
height: 40px;
padding: 30px;
border-radius: 20px;
align-items: center;

}
.container-pontuação span{
    font-family:  'Kumbh Sans', sans-serif ;
    margin-right: 20px;
    font-weight: bold;
    color: white;
    
}
.pontuação{
    font-family:  'Kumbh Sans', sans-serif ;
    color: white;
    font-weight: bold;
}
.jogar-novamente{
    position: relative;
    align-self: center;
    width: 200px;
    height: 26px;
    cursor: pointer;
    background-color: white;
    font-family:  'Kumbh Sans', sans-serif ;
    border: solid 1px;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.267);
}

.jump{
    animation: jump-mario 600ms ease-out ;
}
audio{
    position: absolute;
    display: none;
}
.nivel2{
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 0;
    animation: tunel_animation 5s infinite linear;
}
.nivel3{
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 0;
    animation: tunel_animation 4s infinite linear;
}
.nivel4{
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 0;
    animation: tunel_animation 3s infinite linear;
}
.nivel5{
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 0;
    animation: tunel_animation 2s infinite linear;
}
.tunel{
    width: 80px;
height: 80px;
position: absolute;
bottom: 0;
animation: tunel_animation 6s infinite linear;
}
.tunel:not(:last-child){
    margin-right: 600px;
}
.nivel2:not(:last-child){
    margin-right: 600px;
}
.nivel3:not(:last-child){
    margin-right: 600px;
}
.nivel4:not(:last-child){
    margin-right: 600px;
}
.game-over{
    padding: 30px;
    font-weight: bold;
    background-color: rgba(255, 0, 0, 0.642);
    text-align: center;
    font-family: 'Kumbh Sans', sans-serif ;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
    font-size: 2.5rem;
    visibility: hidden;
}

@keyframes tunel_animation{
    from{
        right: -600px;
    }
    
    to{
        right: 100%;
    }
}
@keyframes nuvens_animation{
    from{
        right: -500px;
    }
    
    to{
        right: 100%;
    }
}
@keyframes jump-mario{

    0%{
        bottom: 0;
    }
    40%{
        bottom: 200px;
    }
    50%{
        bottom: 200px;
    }
    60%{
        bottom: 200px;
    }
    100%{
        bottom: 0;
    }
}
